<!DOCTYPE html>
<html>

  <head>
    <title>Sherlock - Gain insight about your project by analyzing its history</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">

    <link rel="stylesheet" href="static/stylesheets/app.css">
  </head>

  <body>
  <div class="overlay valign-wrapper">
    <div class="container center-align text-white">

      <h1>Sherlock</h1>
      <h5>Gain insights from your code</h5>
      <div class="row">
        <div class="col s1"></div>
        <div class="input-field col s10">
          <input id="repo_url" type="text" class="validate">
          <label for="repo_url">GitHub repo URL</label>
        </div>
        <div class="col s1"></div>
      </div>
    </div>
{#        {% block body %}{% endblock %}#}
  </div>
  </body>

</html>
