<!DOCTYPE html>
<html>

  <head>
    <title>Sherlock - Gain insight about your project by analyzing its history</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">

    <link rel="stylesheet" href="static/stylesheets/app.css">
  </head>

  <body>
  <div class="overlay valign-wrapper">
    <div class="container center-align text-white">

      <h1>Sherlock</h1>
      <h5>Gain insights from your code</h5>
      <form class="row center-align" role="form" method="post" action="{{ url_for('AnalyzeRepo') }}">
        <div class="input-field col s8 offset-s2">
          <input id="repo_url" type="text" name="repoUrl">
          <label for="repo_url" class="width-full">GitHub repo URL</label>
          <input id="submit_url" type="submit" value="Analyze" class="btn">
        </div>
        <div class="col s2"></div>
      </form>
      </div>
    </div>
{#        {% block body %}{% endblock %}#}
  </div>
  </body>
  <script>
    document.getElementById("repo_url").addEventListener("keyup", function(event) {
      event.preventDefault();
      if (event.keyCode == 13) {
        document.getElementById("submit_url").click();
      }
    });
  </script>
</html>
